.editor {
  position: relative;
  font-size: 1.1rem;
  line-height: 1.4rem;

  .blockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
  }
}