.wrap-xs {
  @apply --box-xs;
}

.wrap-xs-square {
  @apply --box-xs-square;
}

.wrap-sm {
  @apply --box-sm;
}

.wrap-sm-square {
  @apply --box-sm-square;
}

.wrap-md {
  @apply --box-md;
}

.wrap-md-square {
  @apply --box-md-square;
}

.wrap-lg {
  @apply --box-lg;
}

.wrap-lg-square {
  @apply --box-lg-square;
}