.block {
  &.points {
    @apply --points;
  }

  &.block-1 {
    background-color: #1b1e24;
    color: #fff;
  }

  &.block-2 {
    background-color: #23262d;
    color: #fff;
  }

  &.block-3 {
    background-color: #2a2e37;
    color: #fff;
  }
}