.pane {
  @apply --points;

  &.pane-1 {
    background-color: #1b1e24;
    color: #fff;
  }

  &.pane-2 {
    background-color: #23262d;
    color: #fff;
  }

  &.pane-3 {
    background-color: #2a2e37;
    color: #fff;
  }
}